---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<h1>Archive</h1>

<h1>Tags:</h1>

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>

<h1>Full archive:</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
