---
layout: layouts/map.njk
eleventyNavigation:
  key: Map
  order: 4
---
<style>
  #map-frame {
    overflow: hidden;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
  }
</style>

<iframe src="{{ metadata.dynmapUrl }}" frameborder="0" id="map-frame">

  <p>
    Your browser does not support iframes.
  </p>